.abdul-portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50rem;
    background-color: rgba(0, 8, 233, 0.1);
    margin-top: 20px;
    width: 80%;
    height: 40%;    
}
.img-ar{
    position: relative;
    width: 40%;
    height: 40%;
    margin-left: auto;

}
.content {
    color: white;
    background-color: rgba(168, 163, 163, 0.5);
    padding: 20px;
    width: 50%;
    margin-left: 30px;
}
.resume-btn {
    padding: 15px 20px; 
    margin-left: 200px;
    margin-top: 30px;
    font-size: 15px; 
    font-weight: 700;
    color: #fff; 
    background-color: #3000cc; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.resume-btn:hover {
    background-color: #0056b3;

}
.nav-ex{
    margin: 50px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    color: white;

}
.nav-ex:hover{
    color: #b3ff00;
    text-shadow: #90CAF9 1px 0 10px;
}
.nav-edu{
    margin: 50px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;


}
.nav-edu:hover{
    color: #b3ff00;
    text-shadow: #90CAF9 1px 0 10px;
}
.nav-skills{
    margin: 50px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
        color: white;


}
.nav-skills:hover{
    color: #b3ff00;
    text-shadow: #90CAF9 1px 0 10px;
}
