.abdul-portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgba(0, 17, 148, 0.1);
    margin-top: 10%;
    width: 90%;
    height: 50%;    
}
.img-ar{
    position: relative;
    width: 40%;
    height: 40%;
    margin-left: auto;
}
.content {
    color: rgb(0, 0, 0);
    background-color: rgba(213, 213, 222, 0.5);
    padding: 20px;
    width: 50%;
    margin-left: 30px;
}
.resume-btn {
    padding: 15px 20px; 
    margin-left: 200px;
    margin-top: 30px;
    font-size: 15px; 
    font-weight: 700;
    color: #fff; 
    background-color: #3000cc; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.resume-btn:hover {
    background-color: #0056b3;

}
hr {
    border: none; 
    height: 5px;
    background-color: #ccc;
    margin: 5rem 6rem 0 0; 
    transition: background-color 0.3s ease;
}
hr:hover{
    background-color: #0056b3;
}
