
.section-container {
    background: #c6bfbf;
    border-radius: 1em 1em;
    margin: 5em 0 0em 2em;
    padding: 2em 3em;

}

.app-skills {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  list-style-type: none;
  justify-content: space-evenly;
}
.app-img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-title {
  text-align: center;
  font-size: 30px;
  color: blue;
}
.app-description {
  text-align: center;
  margin-left: 5rem;
  width: 70%;
  color: rgb(0, 0, 0);
}
.site-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  list-style-type: none;
  justify-content: space-evenly;
}
.site-item{
    list-style-type: none;

}
.site-item a{
    text-decoration: none;
    color: rgb(228, 76, 0);
}

/* CHATGPT */

/* 
.li-html {
    list-style-type: circle;
}
.li-html::marker {
    color: red; 
    font-size: 30px;
    border: 1rem;
}
.li-html {
    list-style-type: none;        
    padding-left: 0;                    
}

.li-html {
    position: relative;                   
    padding-left: 30px;                     
}

.li-html::before {
    content: '';                    
    position: absolute;
    left: 0;                               
    width: 10px;                         
    height: 10px;                      
    background-color: red;           
    border-radius: 50%;              
    top: 50%;                          
    transform: translateY(-50%); 
    box-shadow: 0 0 0 2px white; 
} */
