* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.project-container {
  width: 100%;
  padding: 20px;
}

.project-header {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
  font-family: "Lugrasimo-Regular", sans-serif;
  color: rgb(0, 0, 0);
  position: relative;
  margin: 12rem auto 10rem;
  padding: 25px 10px;
}
.project-header span {
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
  z-index: 1;
}
.project-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 2px;
  background-color: #000;
  z-index: -1;
}

.project-main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.section-container {
  flex: 0 0 300px;
  width: 300px;
  margin-right: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-container {
  text-align: center;
  padding: 20px;
  background-color: #f4f5f6;
  transition: background-color 0.3s, color 0.3s;
}

.app-container:hover {
  background: #9faff8;
  color: white;
}

.app-container h3 {
  margin: 20px 0 1px 0 !important;
  color: #454545;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.app-img {
  width: 100%;
  height: auto;
  background-color: #dedede;
}

.app-title {
  margin-top: 10px;
  color: #333;
  font-size: 1.2rem;
}

.app-description {
  color: #666;
  font-size: 1rem;
  white-space: pre-line;
}

.app-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

ul .app-icon li {
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  background-color: #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .project-main {
    flex-wrap: wrap;
  }

  .section-container {
    flex: 0 0 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .app-container {
    padding: 10px;
  }

  .app-title,
  .app-description,
  .app-container h3 {
    font-size: smaller;
  }
}

@media (max-width: 480px) {
  .project-header {
    font-size: 24px;
    margin-top: 10px;
  }
}
