.project-header {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
  font-family: Lugrasimo-Regular;
  color: rgb(0, 0, 0);
  position: relative;
  margin: 5rem 5rem 5 5rem;
}
.project-header span{
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
  z-index: 1;
}
.project-header::after {
  content: ''; 
  position: absolute;
  left: 0; 
  right: 0;
  bottom: 50%;
  height: 2px; 
  background-color: #000;
  z-index: -1;
}
                              /* Project Title Ends Here  */


.project-main{
  /* background-color: lightcyan; */
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 2px rgb(0, 0, 0); 

}
.section-container{
  background-color: antiquewhite;
  margin: 4rem;
  border-radius: 1rem;
  max-width: 100vw;
  max-height: 50vh;
}
.app-img{
  max-width: 50%;
}
.app-skills{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}








/* CHATGPT */

/* 
.li-html {
    list-style-type: circle;
}
.li-html::marker {
    color: red; 
    font-size: 30px;
    border: 1rem;
}
.li-html {
    list-style-type: none;        
    padding-left: 0;                    
}

.li-html {
    position: relative;                   
    padding-left: 30px;                     
}

.li-html::before {
    content: '';                    
    position: absolute;
    left: 0;                               
    width: 10px;                         
    height: 10px;                      
    background-color: red;           
    border-radius: 50%;              
    top: 50%;                          
    transform: translateY(-50%); 
    box-shadow: 0 0 0 2px white; 
} */
