.loading-title{
    font-family: 'Agustina';
    font-size: 3rem;
    margin-top: 5rem;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
  }
  
  .loading-text {
    font:  45px / 50px Montserrat-Regular, sans-serif;
  }
  
  .typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 1s steps(10, end) infinite;
    font:  45px / 50px Montserrat-Regular, sans-serif;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: auto;
    }
  }