* {
  margin: 0;
  padding: 0;
}


.tab-header {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
  color: rgb(0, 0, 0);
  position: relative;
  margin: 12rem auto 10rem;
  padding: 25px 10px;
}

.tab-header span {
  background-color: rgb(255, 255, 255);
  font:  45px / 50px Montserrat-Regular, sans-serif;
  z-index: 1;
}

.tab-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 2px;
  /* background-image: linear-gradient(blue, red, rgb(0, 76, 255), white); */
  background-color: #0073e6;
  z-index: -1;
}


.skills-container{
  display: flex;

}
.skills-slider {
  text-align: center;
  padding: 2rem;
  margin-top : 3rem;
  margin-left: 3rem;

}
.skills-slider p {
  font-size: 1.2rem;
  margin-top : 3rem;
  margin-bottom: 5rem;
  font: 20px / 25px Montserrat-Regular, sans-serif;
  color: gray;
  /* width: 30vw; */

}
.skills-slider h2{
  font: 20px / 25px Montserrat-Regular, sans-serif;
  font-size: 3rem;
  font-weight: -500;
  /* margin-left: 10rem; */

}
.skills-icon {
  color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  /* width: 30vw; */
  /* margin-left: 10rem; */

}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transition: transform  0.3s, color 0.3s; */
  transition: all 0.25s ease-in-out;

}
.icon-container h6 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font: 20px / 25px Montserrat-Regular, sans-serif;
}

.icon-container:hover {
  color: #0073e6;
}

#lottie-skills{
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .tab-header {
    margin-top: 10vh;
    font-size: 30px;
    margin: 8rem auto 0;
  }
  .skills-container{
    display: flex;
    flex-direction: column;
  }
  #lottie-skills{
    width: 100%;
    max-width: 30rem;
    margin-left: 10rem;
  }

  .skills-slider h2 {
    font-size: 3rem;
  }

  .skills-slider p {
    font-size: 1rem;
  }
}
@media (max-width: 600px){
  .skills-container{
    display: flex;
    flex-direction: column;
  }
  #lottie-skills{
    width: 100%;
    max-width: 20rem;
    margin-left: 2rem;
  }
  .icon-container h6 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  #lol-icons{
    width: 1.5rem;
  }
  .skills-slider {
    margin-left: 0;
  }

}
