.contact-titile {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
  color: rgb(0, 0, 0);
  position: relative;
  margin: 12rem auto 10rem;
  padding: 25px 10px;
}

.contact-titile span {
  background-color: rgb(255, 255, 255);
  font-family: "Lugrasimo-Regular", sans-serif;
  z-index: 1;
}

.contact-titile::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 2px;
  background-color: #000;
  z-index: -1;
}

.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con-form-container {
}

.con-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: auto;
  margin: 30px 15px 30px 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.con-input {
  height: 5.5vh;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  transition: border-color 0.3s ease;
}

.con-input-button {
  width: 10vw;
  height: 7vh;
  align-self: center;
  background-color: rgb(13, 0, 255);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: larger;
  margin-top: 3rem;
  font-family: "Roboto", sans-serif;
}
.con-message p {
  padding: 20px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.con-msg {
  color: rgb(155, 151, 151);
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.contact-text {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.con-class {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Roboto-Thin";
  text-align: center;
  margin-top: 3rem;
}

.italic {
  text-align: center;
}

.con-items {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.con-item-div{
  text-align: center;
}
.con-item-div a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: inline-block;
  margin-bottom: 5rem;
}

.social-btns {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.con-label {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1200px) {
  .con-form {
    width: 60vw;
  }

  .con-input-button {
    width: 20vw;
  }
  /* .con-item-div a{
    margin-left: 7rem;
  } */
}

@media (max-width: 768px) {
  .contact-titile {
    font-size: 3rem;
    margin-top: 8rem;
  }
  .contact-main {
    display: flex;
    flex-direction: column;
  }

  .con-form {
    width: 80vw;
  }

  .con-input-button {
    width: 30vw;
  }

  .con-class {
    font-size: 2rem;
  }

  .con-msg {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .contact-titile {
    font-size: 2rem;
    margin-top: 5rem;
  }
  .contact-main {
    display: flex;
    flex-direction: column;
  }
  .con-form {
    width: 70vw;
  }

  .con-input-button {
    width: 30vw;
  }

  .con-class {
    font-size: 2rem;
  }

  .con-msg {
    font-size: 1rem;
  }

  .social-btns {
    flex-direction: column;
    margin: 0;
  }

  .con-item-div {
    text-align: center;
  }

  .con-items {
    font-size: 0.8rem;
    flex-direction: column;
  }
}
