.contact-titile {
  text-align: center;
  margin-top: 5rem;
  font-size: 4rem;
  font-family: "Lugrasimo-Regular", sans-serif;
  color: rgb(0, 0, 0);
  position: relative;
}

.contact-titile span {
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
  z-index: 1;
}

.contact-titile::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 2px;
  background-color: #000;
  z-index: -1;
}

.contact-main{
  text-align: center;
  background-color: rgb(98, 98, 251);
}
.con-msg{
  color: rgb(181, 179, 179);
  font-size: 1.5rem;
  font-weight: 100;
}
.con-class{
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Roboto-Thin';
  padding: 20px;
  
}
.con-items{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
  font-size: 1.5rem;
  font-family: 'Roboto-Thin';
  font-weight: 500;
  color: whitesmoke;
}