* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Autography-DOLnW';
  src: url('../../../public/Fonts/Autography-DOLnW.otf');
}

.nav-container {
  width: 100%;
  background-color:#312ef9;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}
.nav-name {
  text-decoration: none;
  color: white;
  font-family: 'Autography-DOLnW';
  font-weight: 500;
  font-size: 30px;
}
.nav-container.scrolled {
  background-color:#312ef9;
}
.icon-right, .icon-left {
  transform: rotate(90deg);
  height: 30px;
  margin: 0 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-name {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-name img {
  margin: 0 0.5rem;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-items {
  margin-left: 2rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-menu.open {
    display: flex;
  }
  .navbar{
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-items {
    margin: 1rem 0;
  }
}
