.navbar{
    background-color: #2196f3;
    width: 100%;
    text-align: center;
}
.nav-name{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    font-family: Autography-DOLnW;

}
@font-face {
    font-family: Autography-DOLnW;
    src: url(../../../public/Fonts/Autography-DOLnW.otf);
}
.nav-name:hover{
    color: #b3ff00;
    text-shadow: #90CAF9 1px 0 10px;
}
.nav-contact{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: Lugrasimo-Regular;
}
.nav-contact:hover{
    color: #b3ff00;
    text-shadow: #90CAF9 1px 0 10px;
}