.nav-container {
  background-color: #312ef9;
  width: 100%;
  color: white;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 1000;  /* Ensure the navbar is above other content */
  border-bottom: 1px solid #ccc;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-name {
  text-decoration: none;
  color: white;
  font-family: Autography-DOLnW;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
@font-face {
  font-family: Autography-DOLnW;
  src: url(../../../public/Fonts/Autography-DOLnW.otf);
}
.nav-name:hover {
  color: #b3ff00;
  text-shadow: #90caf9 1px 0 10px;
}
.icon-right {
  transform: rotate(90deg);
  height: 30px;
  margin: 0 5px;
}
.icon-left:hover {
  color: #b3ff00;
  text-shadow: #90caf9 1px 0 10px;
}
.icon-left {
  transform: rotate(90deg);
  height: 30px;
  margin: 0 5px;
}
nav ul li {
  margin: 0 10px;
  list-style-type: none;
  display: inline;
}
.nav-link {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-family: Lugrasimo-Regular;
  font-size: 16px;
  transition: color 0.3s;
}
.nav-contact {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Lugrasimo-Regular;
  padding: 5px 15px;
}
.nav-contact:hover {
  color: #b3ff00;
  text-shadow: #90caf9 1px 0 10px;
}

.nav-link:hover {
  color: #b3ff00;
  text-shadow: #90caf9 1px 0 10px;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 10px 0;
  }
}
