* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
footer{
  background-color: #312ef9;
  font-weight: 900;
  font-family: "Roboto-Thin";
}
.footer-container{
  width: 100%;
  padding: 70px 30px 20px ;
}
.social-icons{
  display: flex;
  justify-content: center;
}
.social-icons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.social-icons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
.social-icons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.social-icons a:hover i{
  color: white;
  transition: 0.5s;
}
.footer-nav{
  margin: 30px 0;
  font: 20px / 25px Montserrat-Regular, sans-serif;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer-nav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footer-nav ul li a:hover{
  opacity: 1;
}
.footer-bottom{
  background-color: #000000;
  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  color: white;
  font: 20px / 25px Montserrat-Regular, sans-serif;
}
.footer-bottom span{
  font: 20px / 25px Montserrat-Regular, sans-serif;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footer-nav ul{
      flex-direction: column;
      font: 15px / 12px Montserrat-Regular, sans-serif;
  } 
  .footer-nav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
      
  }
  .social-icons a{
      padding: 8px;
      margin: 4px;
      font: 15px / 20px Montserrat-Regular, sans-serif;
  }
  .footer-bottom p{
    font: 15px / 20px Montserrat-Regular, sans-serif;
  }
}