ul .ex-details {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  

  .title {
    text-align: center;
    margin-top: 12rem; 
    font-size: 50px;
    font-family: 'Lugrasimo-Regular', sans-serif; 
    color: rgb(0, 0, 0);
    position: relative;
  }
  
  .title span {
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    z-index: 1;
  }
  
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    height: 2px;
    background-color: #000;
    z-index: -1;
  }
  
  .tab-display {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
  }
  
  .ex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;  
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    padding: 0;
    width: 30%;
    margin-top: 5rem;
  }
  
  .company-header {
    background-color: rgb(160, 219, 255);  
    width: 100%;  
    padding: 15px 0; 
    border-top-left-radius: 1rem;  
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .company-logo {
    height: 6rem;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .ex-company {
    font-size: 1.5rem;
  }
  
  .ex-role{
    text-align: center;
    font-size: 1rem;

  } 
  .ex-date {
    text-align: center;
    font-size: .5;
  }
  
  .ex-image {
    margin-top: 8rem;
    transition: transform 0.3s ease-in-out;
  
  }
  .ex-image:hover{
    transform: scale(1.1);
  }
  .ex-details{
    text-align: center;
    font-size: 1rem;
    color: rgb(120, 114, 114);
    margin: 10px 0px 50px 0px;
  }